@{
    ViewData["Title"] = "Menu de Inicio - DUNAMIS SA";
    var roleID = ViewBag.RoleID as int?;
    var userName = ViewBag.UserName as string;
}

<h1>Bienvenido, @userName @((roleID == 1) ? "(Administrador)" : "(Empleado)")</h1>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<div class="menu">
    <a asp-controller="Clientes" asp-action="Clientes" class="menu-item">Registrar Clientes</a>
    <a asp-controller="Cargas" asp-action="Cargas" class="menu-item">Cotizar Carga</a>
    <a asp-controller="Facturas" asp-action="Facturas" class="menu-item">Facturas</a>
    <a asp-controller="Pagos" asp-action="Pagos" class="menu-item">Historial de pagos</a>
    <a asp-controller="Reportes" asp-action="Reportes" class="menu-item">Reportes</a>

    @if (roleID == 1) // Solo el administrador puede ver estas opciones
    {
        <a asp-controller="Usuarios" asp-action="Usuarios" class="menu-item">Usuarios</a>
        <a asp-controller="Impuestos" asp-action="Impuestos" class="menu-item">Actualizar Impuestos</a>
        <a asp-controller="Descuentos" asp-action="Descuentos" class="menu-item">Actualizar Descuentos</a>
        <a asp-controller="TiposCargas" asp-action="TiposCargas" class="menu-item">Tipos de Cargas</a>
        <a asp-controller="Roles" asp-action="Roles" class="menu-item">Roles</a>
    }
</div>
<div class="logout">
    <form asp-controller="Auth" asp-action="Logout" method="post">
        <button type="submit" class="button small">Cerrar Sesión</button>
    </form>
</div>
