@{
    ViewData["Title"] = "Menu de Inicio - DUNAMIS SA";
    var roleID = ViewBag.RoleID as int?;
    var userName = ViewBag.UserName as string;
}

<h1>Bienvenido, @userName @((roleID == 1) ? "(Administrador)" : "(Empleado)")</h1>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<div class="menu">
    <a asp-controller="Cliente" asp-action="Index" class="menu-item">Registrar Clientes</a>
    <a asp-controller="Carga" asp-action="Index" class="menu-item">Cotizar Carga</a>
    <a asp-controller="Factura" asp-action="Index" class="menu-item">Facturas</a>
    <a asp-controller="Pago" asp-action="Index" class="menu-item">Historial de pagos</a>
    <a asp-controller="Reporte" asp-action="Index" class="menu-item">Reportes</a>

    @if (roleID == 1) // Solo el administrador puede ver estas opciones
    {
        <a asp-controller="Usuario" asp-action="Index" class="menu-item">Usuarios</a>
        <a asp-controller="Impuesto" asp-action="Index" class="menu-item">Actualizar Impuestos</a>
        <a asp-controller="Descuento" asp-action="Index" class="menu-item">Actualizar Descuentos</a>
        <a asp-controller="TipoDeCarga" asp-action="Index" class="menu-item">Tipos de Cargas</a>
        <a asp-controller="Rol" asp-action="Index" class="menu-item">Roles</a>
    }
</div>
<div class="logout">
    <form asp-controller="Auth" asp-action="Logout" method="post">
        <button type="submit" class="button small">Cerrar Sesión</button>
    </form>
</div>
